.project {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  height: 50rem;
}
.cent{
  display: flex;
    justify-content: center;
    text-align: center;
    font: bold;
    height: 3rem;
}
.pr{
  color: var(--color-primary);
}

.device{
  width: 20em;
  display: block;
  height: 1.3px;
  
  background-color: var(--color-primary);
  margin: 50px 0;
  margin-left: 39rem;
}
.cube1_container {
  display: flex;
  width: 20rem;
  height: 19.3rem;
  position:absolute;
  background-image:linear-gradient(
    /* var(--color-bg), */
    transparent,

    transparent,
    var(--color-primary-variant)
  ),url(yoga.png);
  background-size: cover;
  color:var(--color-bg-variant);
  top: 160%;
  left: 20%;
 cursor: pointer;
}

.cube1_container::before {
  content: "";
  width: calc(18rem / 6);
  height: calc(18rem + 21%);
  position: absolute;
  background: linear-gradient(
    transparent,
    var(--color-bg),
    transparent
,
    var(--color-primary)
  );
  top: -14%;
  left: calc((18.5rem / 4) * -1 + 8.3%);
  -webkit-clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 83%);
  clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 83%);
  z-index: 99;
}



.cube1_container::after {
  content: "";
  width: calc(18.3rem + (18rem / 4) );
  height: 13%;
  background: linear-gradient(
    var(--color-primary),
    transparent

        ); 
    /* right: calc((18rem/4)*-1 +20%); */
     position: absolute;
  top: calc((18rem / 4) * -1 + 10%);
  left: calc(18rem / 4 * -1 + 8.3%);
  -webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
}

.cube1_container:hover{
  display: flex;
 width: 20rem;
  height: 19.3rem;
  position:absolute;
  /* background-image:url(jitu.jpg); */
  background-color: transparent;
  background-size: cover;
  color:var(--color-bg-variant);
  top: 155%;
  left: 16%;
  transition: 300ms;
}

.cube1_container:hover::after{
  content: "";
  width: 0.1rem;
  height: 0.1rem;
  /* background: linear-gradient(
    var(--color-primary),
    transparent

        );  */
    /* right: calc((18rem/4)*-1 +20%); */
     position: absolute;
  top: calc((18rem / 4) * -1 + 15%);
  left: calc(18rem / 4 * -1 + 8.3%);
  -webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
}

.cube1_container:hover::before{
  content: "";
  width: 0.1rem;
  height: 0.1rem;
  position: absolute;
 
  top: -15%;
  left: calc((18rem / 4) * -1 + 8.3%);
  -webkit-clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 83%);
  clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 83%);
  z-index: 99;
}

.cube2_container {
  display: flex;
  width: 20rem;
  height: 19.3rem;
  position:absolute;
  color:var(--color-bg-variant);
  top: 160%;
  left: 66%;
  background-image:linear-gradient(
    var(--color-bg),
    transparent,

    transparent,
    var(--color-primary-variant)
  ),url(cryptoxion.png);
  background-size: cover;
  background-image: calc(5rem);

}

.cube2_container::before {
  content: "";
  width: calc(18rem / 6);
  height: calc(18rem + 21%);
  position: absolute;
  background: linear-gradient(
    transparent,
    var(--color-primary-variant),
    transparent
,
    var(--color-primary-variant)
  );
  top: -14%;
  left: calc((18.5rem / 4) * -1 + 8.3%);
  -webkit-clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 83%);
  clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 83%);
  z-index: 99;
}

.cube2_container::after {
  content: "";
  width: calc(18.2rem + (18rem / 4));
  height: 13%;
  background: linear-gradient(
    var(--color-primary-variant),
    transparent

        );  position: absolute;
  top: calc((18rem / 4) * -1 + 10%);
  left: calc(18rem / 4 * -1 + 8.3%);
  -webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
}

.cube2_container:hover{
  display: flex;
 width: 20rem;
  height: 19.3rem;
  position:absolute;
  /* background-image:url(jitu.jpg); */
  background-color: transparent;
  background-size: cover;
  color:var(--color-bg-variant);
  top: 155%;
  left: 62%;
  transition: 300ms;
}

.cube2_container:hover::after{
  content: "";
  width: 0.1rem;
  height: 0.1rem;
  /* background: linear-gradient(
    var(--color-primary),
    transparent

        );  */
    /* right: calc((18rem/4)*-1 +20%); */
     position: absolute;
  top: calc((18rem / 4) * -1 + 15%);
  left: calc(18rem / 4 * -1 + 8.3%);
  -webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
}

.cube2_container:hover::before{
  content: "";
  width: 0.1rem;
  height: 0.1rem;
  position: absolute;
 
  top: -15%;
  left: calc((18rem / 4) * -1 + 8.3%);
  -webkit-clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 83%);
  clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 83%);
  z-index: 99;
}
.cube3_container {
  display: flex;
  width: 20rem;
  height: 19.3rem;
  position:absolute;
  color:var(--color-bg-variant);
  top: 210%;
  left: 44%;
  background-image:linear-gradient(
    /* rgb(204, 156, 65), */
    transparent,

    transparent,
    var(--color-primary-variant)
  ),url(dreamkids.png);
  background-size: cover;

}

.cube3_container::before {
  content: "";
  width: calc(18rem / 6);
  height: calc(18rem + 21%);
  position: absolute;
  background: linear-gradient(
    transparent,
    var(--color-primary-variant),
    transparent
,
var(--color-primary-variant)
  );
  top: -15%;
  left: calc((18rem / 4) * -1 + 8.3%);
  -webkit-clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 83%);
  clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 83%);
  z-index: 99;
}


.cube3_container::after {
  content: "";
  width: calc(19rem + (18rem / 4));
  height: 13%;
  background: linear-gradient(
    var(--color-primary-variant),
    transparent

        );  position: absolute;
  top: calc((18rem / 4) * -1 + 10%);
  left: calc(18rem / 4 * -1 + 8.3%);
  -webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
}

.cube3_container:hover{
  display: flex;
  width: 20rem;
  height: 19.3rem;
  position:absolute;
  /* background-image:url(jitu.jpg); */
  background-color: transparent;
  background-size: cover;
  color:var(--color-bg-variant);
  top: 205%;
  left: 40%;
  transition: 300ms;
}

.cube3_container:hover::after{
  content: "";
  width: 0.1rem;
  height: 0.1rem;
  /* background: linear-gradient(
    var(--color-primary),
    transparent

        );  */
    /* right: calc((18rem/4)*-1 +20%); */
     position: absolute;
  top: calc((18rem / 4) * -1 + 15%);
  left: calc(18rem / 4 * -1 + 8.3%);
  -webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
}

.cube3_container:hover::before{
  content: "";
  width: 0.1rem;
  height: 0.1rem;
  position: absolute;
 
  top: -15%;
  left: calc((18rem / 4) * -1 + 8.3%);
  -webkit-clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 83%);
  clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 83%);
  z-index: 99;
}




@media screen and  (max-width: 600px) {
  .project {
    display: flex;
    color: white;
    width: 100%;
    height: 90rem;
    margin : 0 auto;

  }

  .cent{
    display: flex;
    height: 3rem;
/* left: 20%; */
margin: 0 auto;
width: 20rem;
/* margin-left: 0.25rem; */
font: bold;
  }
  .pr{
    color: var(--color-primary);
  }

  .cube1_container {
    display: flex;
    width: 20rem;
    height: 19.3rem;
    position:absolute;
    background-image:linear-gradient(
      /* var(--color-bg), */
      transparent,
  
      transparent,
      var(--color-primary-variant)
    ),url(yoga.png);
    background-size: cover;
    color:var(--color-bg-variant);
    top: 280%;
    left: 15%;
   cursor: pointer;
  }
  
  .cube1_container::before {
    content: "";
    width: calc(18rem / 6);
    height: calc(18rem + 21%);
    position: absolute;
    background: linear-gradient(
      transparent,
      var(--color-bg),
      transparent
  ,
      var(--color-primary)
    );
    top: -14%;
    left: calc((18.5rem / 4) * -1 + 8.3%);
    -webkit-clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 83%);
    clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 83%);
    z-index: 99;
  }
  
  
  
  .cube1_container::after {
    content: "";
    width: calc(18.3rem + (18rem / 4) );
    height: 13%;
    background: linear-gradient(
      var(--color-primary),
      transparent
  
          ); 
       position: absolute;
    top: calc((18rem / 4) * -1 + 10%);
    left: calc((18rem / 4 )* -1 + 8.3%);
    -webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
  }
  
  .cube1_container:hover{
    display: flex;
   width: 20rem;
    height: 19.3rem;
    position:absolute;
    background-color: transparent;
    background-size: cover;
    color:var(--color-bg-variant);
 top: 270%;
    left: 10%;
    transition: 300ms;
  }
  
  .cube1_container:hover::after{
    content: "";
    width: 0.1rem;
    height: 0.1rem;
    position: absolute;
    top: calc((18rem / 4) * -1 + 15%);
    left: calc(18rem / 4 * -1 + 8.3%);
    -webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
  }
  
  .cube1_container:hover::before{
    content: "";
    width: 0.1rem;
    height: 0.1rem;
    position: absolute;
    top: -15%;
    left: calc((18rem / 4) * -1 + 8.3%);
    -webkit-clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 83%);
    clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 83%);
    z-index: 99;
  }
  
  .cube2_container {
    display: flex;
    width: 20rem;
    height: 19.3rem;
    position:absolute;
    color:var(--color-bg-variant);
    top: 350%;
    left: 15%;
    /* border: 1px solid red; */
    background-image:linear-gradient(
      var(--color-bg),
      transparent,
  
      transparent,
      var(--color-primary-variant)
    ),url(cryptoxion.png);
    background-size: cover;
    background-image: calc(5rem);
  
  }
  
  .cube2_container::before {
    content: "";
    width: calc(18rem / 6);
    height: calc(18rem + 21%);
    position: absolute;
    background: linear-gradient(
      transparent,
      var(--color-primary-variant),
      transparent
  ,
      var(--color-primary-variant)
    );
    top: -14%;
    left: calc((18.5rem / 4) * -1 + 8.3%);
    -webkit-clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 83%);
    clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 83%);
    z-index: 99;
  }
  
  .cube2_container::after {
    content: "";
    width: calc(18.3rem + (18rem / 4));
    height: 13%;
    background: linear-gradient(
      var(--color-primary-variant),
      transparent
  
          );  position: absolute;
    top: calc((18rem / 4) * -1 + 10%);
    left: calc((18rem / 4 )* -1 + 8.3%);
    -webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
  }
  
  .cube2_container:hover{
    display: flex;
   width: 20rem;
    height: 19.3rem;
    position:absolute;
    /* background-image:url(jitu.jpg); */
    background-color: transparent;
    background-size: cover;
    color:var(--color-bg-variant);
    top: 340%;
    left: 10%;
    transition: 300ms;
  }
  
  .cube2_container:hover::after{
    content: "";
    width: 0.1rem;
    height: 0.1rem;
    /* background: linear-gradient(
      var(--color-primary),
      transparent
  
          );  */
      /* right: calc((18rem/4)*-1 +20%); */
       position: absolute;
    top: calc((18rem / 4) * -1 + 15%);
    left: calc(18rem / 4 * -1 + 8.3%);
    -webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
  }
  
  .cube2_container:hover::before{
    content: "";
    width: 0.1rem;
    height: 0.1rem;
    position: absolute;
   
    top: -15%;
    left: calc((18rem / 4) * -1 + 8.3%);
    -webkit-clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 83%);
    clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 83%);
    z-index: 99;
  }
  .cube3_container {
    display: flex;
    width: 20rem;
    height: 19.3rem;
    position:absolute;
    color:var(--color-bg-variant);
    top: 430%;
    left: 15%;
    background-image:linear-gradient(
      transparent,
  
      transparent,
      var(--color-primary-variant)
    ),url(dreamkids.png);
    background-size: cover;
  
  }
  
  .cube3_container::before {
    content: "";
    width: calc(18rem / 6);
    height: calc(18rem + 21%);
    position: absolute;
    background: linear-gradient(
      transparent,
      var(--color-primary-variant),
      transparent
  ,
  var(--color-primary-variant)
    );
    top: -15%;
    left: calc((18rem / 4) * -1 + 8.3%);
    -webkit-clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 83%);
    clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 83%);
    z-index: 99;
  }
  
  
  .cube3_container::after {
    content: "";
    width: calc(19rem + (18rem / 4));
    height: 13%;
    background: linear-gradient(
      var(--color-primary-variant),
      transparent
  
          );  position: absolute;
    top: calc((18rem / 4) * -1 + 10%);
    left: calc(18rem / 4 * -1 + 8.3%);
    -webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
  }
  
  .cube3_container:hover{
    display: flex;
    width: 20rem;
    height: 19.3rem;
    position:absolute;
    /* background-image:url(jitu.jpg); */
    background-color: transparent;
    background-size: cover;
    color:var(--color-bg-variant);
    top: 420%;
    left: 10%;
    transition: 300ms;
  }
  
  .cube3_container:hover::after{
    content: "";
    width: 0.1rem;
    height: 0.1rem;
    /* background: linear-gradient(
      var(--color-primary),
      transparent
  
          );  */
      /* right: calc((18rem/4)*-1 +20%); */
       position: absolute;
    top: calc((18rem / 4) * -1 + 15%);
    left: calc(18rem / 4 * -1 + 8.3%);
    -webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
  }
  
  .cube3_container:hover::before{
    content: "";
    width: 0.1rem;
    height: 0.1rem;
    position: absolute;
   
    top: -15%;
    left: calc((18rem / 4) * -1 + 8.3%);
    -webkit-clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 83%);
    clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 83%);
    z-index: 99;
  }
}
