.bio_container{
display: flex;
flex-direction: column;
width: 70%;
margin: 2rem auto;
justify-content: center;
align-items: center;
gap: 2rem;
}
.h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
}

.data:hover{
    color: var(--color-primary);
}
.bio{
    display: flex;
    margin: 0 auto;
    gap: 2rem;
}
.bio_first{
    display: flex;
    height: 5rem;
    justify-content: center;
    align-items: center;
    text-align: justify;
    border-radius:  0  0 3rem 3rem;
    color: var(--color-white);
    background: var(--color-primary);
}
.bio__list_icon{
    color: var(--color-primary);
    width: 1rem;
    height: 1rem;
}

.bio__list{
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    gap: 1rem;
width: 90%;
}
.li{
    display: flex;
    gap: 1rem;
}
.data{
    display: flex;
    flex-direction: column;
    border-radius:  0  0 2rem 2rem;
    border: 1px solid var(--color-primary);
    background: transparent;
    color: white;
    gap: 1rem;
    width: 33%;
    height: auto;
}

@media screen and (max-width: 768px){
    .bio{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 90%;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .data{
        display: flex;
        flex-direction: column;
        border-radius:  0  0 2rem 2rem;
        border: 1px solid var(--color-primary);
        background: transparent;
        color: white;
        gap: 2rem;
        width: 90%;
    }
}