.about_container{
    display: flex;
    position: relative;
    width: 70%;
    margin: 0 auto;
    margin-top: 1.5rem;
    
}

.about_left{
    display: flex;
    padding: 1rem;
    flex: 0.7;
    align-items: center;
}

.left_icons{
    display: flex;
    margin: 2rem;
    margin-right: 3rem;
}

.about_right{
    display: flex;
    padding: 1rem;
    flex: 0.3;
    align-items: center;
    justify-content: center;
}

.image_container{
    display: flex;
    width: 200px;
    object-fit: contain;
    overflow:  hidden;
}

.image_container:hover{
    transform: scale(1.2);
    transition: 400ms;
}



.profile_image{
    border-radius: 30px;
    width: 200px;
    animation: zoomInOut 8s ease-in-out infinite 1s;
}

@keyframes zoomInOut {
    0%, 100%{
        transform: scale(1);
        /* border-radius: 60% 40% 30% 70% 60% 30% 70% 40%; */
    }

    50%{
        transform: scale(1.1);
        /* border-radius: 30% 60% 70% 40% 50% 60% 30% 60%; */
    }
}

.say_hello{
    display: flex;
    margin-top: 0.7rem;
    width: 6rem;
    
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--mid-shade);
color: black;

}

.say_hello:hover{
    padding: 10px;
    border-radius: 8px;
    background-color: white;
    color: var(--text-color);
    transition: 400ms;

}

.devicer {
    width: 20em;
    display: block;
    height: 1.3px;
    background-color: #4b4b4d;
    margin: 60px auto 0;
    margin-bottom: 2rem;
  }
.home__description{
    
    text-align: justify;
    
}



.home_social{
    display: flex;
    /* flex-direction: ; */
    /* padding: 1rem; */
    /* color: white; */
    gap: 2rem;
}

.home_social>a{
    font-size: 35px;
}

.home_social>a:hover{
   transform: scale(1.5);
    transition: 400ms;
}