.contact {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  align-items: center;
  margin: 0 auto;
  margin-top: 5rem;
  justify-content: center;
}

.title{
    display: flex;
    color: var(--color-primary);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_container {
  display: flex;
  width: 70%;
  height: 100%;
  margin: 2rem auto;
}

.right_contact {
  display: flex;
  flex: 0.6;
  border-radius: 1rem;
  align-items: center;
  margin: 0 auto;
}

.left_contact {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  align-items: center;
 margin: 2rem auto;
}

.email {
  display: flex;
  background-color: var(--color-bg-variant);
  color: var(--color-white);
  flex-direction: column;
  border-radius: 1rem;
  padding: 1rem;
  box-sizing: content-box;
  gap: 3px;
  margin-bottom: 1rem;
  align-items: center;
  width: 69%;
}

.email:hover{
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: 400ms;
  transform: scale(0.25rem);
}
form {
  max-width: 400px;
  margin: 2rem auto;
  border-radius: 1rem;

}

input,
textarea {
  width: 100%;
  padding: 1rem;
  color: white;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 1rem;
  box-sizing:content-box;
  background-color: transparent;
  border: 1px solid var(--color-bg-variant);
}

textarea {
  resize: vertical;
  border-radius: 1rem;
}

textarea::placeholder{
  color: var(--color-light);
}

input::placeholder{
  color: var(--color-light);
}

button {
  background-color: var(--color-primary);
  border-radius: 1rem;
  transition: 500ms;
  color: var(--color-bg-variant);
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
}
.left_icons{
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
  gap: 5rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.details{
  color: var(--color-primary) ;
}
button:hover {
  background-color: var(--color-white);
  color: var(--color-bg-variant);
  transition: 400ms;
}

@media  screen and (max-width: 600px)  {
  .contact {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .title{
      display: flex;
      flex: 0.3;
      font: bold;
      margin: 0 auto;
margin-bottom: 4rem;

  }

  .contact_container {
    display: flex;
    flex-direction: column;
    flex: 0.7;
    margin: 0 auto;
    width: 100%;
    gap: 1rem;
  }

  .right_contact {
    display: flex;
    flex: 0.5;
    border-radius: 1rem;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    width: 90%;
  }
  .left_icons{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-primary);
    gap: 5rem;

  }
  .left_contact {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 1rem;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid var(--color-bg-variant);
  }
  
}
