.header {
  width: 100%;
  padding: 0 ;
}

@media screen and (min-width: 360px) and (max-width: 740px){
  .header {
    width: 70%;
    padding: 0 ; 
    display: flex;
  flex-direction: column; }
}

/* Styles for tablets */
