.header {
  width: 100%;
  padding: 0 ;
}

@media screen and (min-width: 400px) and(max-width:662px){
  .header {
    width: 80%;
    padding: 0 ; 
    display: flex;
  flex-direction: column; }
}

/* Styles for tablets */
