.skill_container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 4rem auto;
}

.second_container{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    margin: 0 auto;
justify-content: center;
    width: 70%;
}


.s_left{
    display: flex;
    flex-direction: column;
    flex: 0.5;
    transition: 300ms;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    scale: 0.5rem;
    background-color: var(--color-bg-variant);
    border: 1px solid rgb(76, 162, 193);
border-radius: 2rem;
    text-align: justify;
    padding: 2rem;
}

.s_left:hover{
    background-color: transparent;
    color: white;
}
.icons{
    color: var(--color-primary) ;
}
.h4{
    display: flex;
    /* color: black; */
}
.h2{
    color: var(--color-primary) ;
    justify-content: left;

}
.sk{
    color: var(--color-primary);
}
.ul_container{
    display: flex;
    gap: 4rem;
    
}
.fade{
    color: whitesmoke;
}
.h_left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    justify-items: center;
margin-right: auto;
margin-left: auto;
}


.p{
    color: var(--color-white);
}
.fade-down{
color: grey;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
gap: 1rem;
margin :2rem auto;
    flex-direction: column;
}
.impact{
    color: grey;
    text-align: justify;
}
.h_skills{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    text-decoration: underline;
} 

@media screen and (max-width: 600px) {
    .skill_container{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .icons{
        color: var(--color-primary) ;
        justify-content: left;
        align-items: last baseline;
        /* border: 1px solid red; */
    }
    .second_container{
        display: flex;
        flex: 0.8;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
    }
    
    .h4{
        display: flex;
        flex-direction: column;
    }
    .s_left{
        display: flex;
        flex-direction: column;
        flex: 0.5;
        transition: 300ms;
        width: 70%;
        justify-content: center;
        gap: 4rem;
        scale: 0.5rem;
        background-color: var(--color-bg-variant);
        border: 1px solid rgb(76, 162, 193);
    border-radius: 2rem;
        text-align: center;
    }
    .h_left{
        display: flex;
        justify-content: center;
        align-items: center;
    margin: 0 auto;
    width:min-content;
    }
    
    
    .center{
        display: flex;
        flex: 0.2;
        font: bold;
        flex-direction: column;
    }
    
    .h_skills{
        display: flex;
        margin-right: auto;
        margin-left: auto;
        text-decoration: underline;
    } 
}
