.title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;    
}

.qlf{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.vertical_components{
    display: flex;
    justify-content: center;
    align-items: center;

}