.footer {
  display: flex;
  /* background-color: var(--dark-shade); */
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
}

.footer_link {
  display: flex;
  padding: auto;
  margin: 0 auto;
  justify-content: center;
  color: var(--color-primary);
}
.thank_you{
  color: var(--color-white);

}
.thank_you:hover {
  display: flex;
  transition: 400ms;
  transform: scale(1.5);
}

.copywrite {
  display: flex;
  justify-content: center;
  padding: auto;
  margin: 0 auto;
  color: var(--color-white);

  /* background-color: var(--dark-shade); */
}
@media screen and (min-width: 400px) {
  .footer {
    width: 30%;
    margin: 0 auto;
    margin-left: 15rem;
    /* border: 1px solid white; */
    /* align-items: center; */
    /* mar */

  }
  
  .footer_items{
    display: flex;
    flex-direction: column;
    margin-right: 6rem;
    /* flex: 0.5; */
  }
  .footer_list{
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr 1fr 1f/r; */
    /* border: 1px solid blue; */
  }
  .footer_link {
    display: flex;
    padding: auto;
    margin: 0 auto;
    width: 20em;

    /* border: 1px solid blue; */
    justify-content: center;
    color: var(--color-primary);
  }
  .thank_you{
    color: var(--color-white);
  width: 20em;
  text-align: center;
  /* margin-right: 2rem; */
  justify-content: center;
  /* border: 1px solid white/.; */
  }
  .thank_you:hover {
    display: flex;
    transition: 400ms;
    transform: scale(1.25);
  }
  
  .copywrite {
    margin: 0 auto;
    margin-right: 48rem;
    color: var(--color-white);
    }


}