@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins:wght@400;600&display=swap');


:root{
  --header-height: 3rem;


  --body-font: "Poppins", sans-serif;


  --bg-color:#f8f8fa;
  --text-color:black;
  --dark-shade:#afafaf;
  --light-shade:	#e5e6eb;
  --mid-shade:#d2d4dc;
  --border-color:#c0c2ce;

  


}



*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  -ms-overflow-style: none;  
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body,
button,
input,
textarea{
  font-family:var(--body-font);
}

body{
  background-color: var(--bg-color);
}



ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

img{
  max-width: 100%;
  height: auto;
}

.grid{
  display: flex;
  gap: 1.5rem;
}







